input[type=number]::-webkit-inner-spin-button /* Elimino le frecce su nell'input number. */
{
    -webkit-appearance: none;
}
.table
{
    align-items: flex-start;
    float: right;
}
.number
{
    text-align: center;
    padding: 10px 0px;
    font-size: 16px;
    margin: 1px 1px;
    border-style: solid;
    border-radius: 0px;
}